@import "../../scss/index.scss";

.services {
  padding: 78px 0 90px !important;
  background-color: #ffffff;
  &__title-container {
    font-size: 26px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    text-align: center;
    h2 {
      text-align: center;
    }
  }
  &__grid {
    justify-content: space-between !important;
  }
}
.service {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #008060 ;
    @include upBreakpoint($breakpoint-up-md) {
      font-size: 20px;
    }
  }
  &__description {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    @include upBreakpoint($breakpoint-up-md) {
      font-size: 18px;
    }
  }
  &__button {
    background-color: transparent !important;
    border-radius: 4px !important;
    border: 2px solid #008060  !important;
    color: #008060 !important;
    padding: 14px 30px !important;
    min-width: 100px !important;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15) !important;
    width: fit-content;
    @include upBreakpoint($breakpoint-up-md) {
      font-size: 12px !important;
    }
    @include upBreakpoint($breakpoint-up-md) {
      font-size: 18px !important;
    }
  }
  &__image {
    @include upBreakpoint($breakpoint-up-md) {
      width: 371px;
      height: 197px;
    }
  }
}
