@import "../../../src/scss/index.scss";

.process {
  padding-top: 55px;
  padding-bottom: 70px;
  &__title {
    font-family: "Roboto Condensed";
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .step {
    &__container {
      background-color: #effcfa;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15) !important;
      padding: 30px 10px;
      border: 1px solid #cccccc;
      min-height: 12rem;
      @include upBreakpoint($breakpoint-up-lg) {
        padding: 30px 20px;
      }
    }
    &__title {
      font-family: "Roboto Condensed";
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 0px;
      text-align: left !important;
      font-weight: bold;
      color: #008060;
    }
    &__description {
      text-align: left;
      font-family: "Roboto Condensed";
      font-size: 18px;
      font-weight: normal;
    }
  }
}
