@import "../../../src/scss/index.scss";

.main-banner {
  margin-top: 1rem;

  @include upBreakpoint($breakpoint-up-md) {
    margin-top: 0;
  }
  &__image-container {
    padding: 0 !important;
  }
  &__content {
    @include upBreakpoint($breakpoint-up-md) {
      margin-top: 0rem !important;
    }
  }
  &__page-info {
    padding: 34px 20px !important;
    background-color: #008060;
    @include upBreakpoint($breakpoint-up-md) {
      display: flex !important;
      align-items: center;
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
  }
  &__image {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px !important;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  &__title {
    font-family: "Roboto Condensed";
    color: #effcfa;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 14px;
    
    @include upBreakpoint($breakpoint-up-md) {
      font-size: 2rem;
    }
    @include upBreakpoint($breakpoint-up-xl) {
      font-size: 2.5rem;
    }
  }
  &__description {
    font-family: "Roboto Condensed";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    @include upBreakpoint($breakpoint-up-xl) {
      font-size: 1rem;
    }
  }
  &__button {
    background-color: #008060 !important;
    color: white !important;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15) !important;
  }
  &__subButton{
    border: 1px solid black;
    background: transparent;
    color: black;
}
  
}
