@import "../../scss/index.scss";

.service-features {
  padding-top: 1.5rem;
  padding-bottom: 70px;
  &__title {
    font-size: 22px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0px !important;
    @include upBreakpoint($breakpoint-up-lg) {
      font-size: 30px;
    }
  }
  &__subtitle {
    margin-top: 5px !important;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px !important;
    font-size: 16px;
    color: #141414 !important;
    font-family: "Roboto Condensed", sans-serif;
    @include upBreakpoint($breakpoint-up-lg) {
      font-size: 22px;
    }
  }
  &__container-block {
    min-height: 185px !important;
    @include upBreakpoint($breakpoint-up-lg) {
      min-height: 200px !important;
      min-width: 16.5% !important;
    }
  }
  &__features-container {
    justify-content: center !important;
    .feature {
      text-align: center;
      height: 200px;
      transition: all .5s ease-in-out;
      box-shadow: 0px 0px 19px -1px transparent;
      transition: all .5s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 19px -1px white;
        background-color: rgb(92, 178, 91);
        border-bottom: 5px solid #008060;
        height: 230px;
        transition: all .5s ease-in-out;
      }
      
      &__service {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 12px !important;
        color: #141414 !important;
        margin: 0;
      }
      &__name {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 16px !important;
        font-weight: bold;
        margin: 0 !important;
      }
      &__image-container {
        display: flex !important;
        justify-content: center;
        margin-bottom: 10px !important;
        div {
          padding: 0.8rem;
          border-radius: 27%;
          background-color: rgba(255, 255, 255, 0.3);
          display: flex;
          align-items: center;
          img {
            width: 4rem;
            margin-bottom: 0px;
            max-width: fit-content;
          }
        }
      }
    }
  }
}
