@import "../../scss/index.scss";

.service-features {
  padding-top: 1.5rem;
  padding-bottom: 70px;
  &__title {
    font-size: 22px !important;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0px !important;
  }
  &__subtitle {
    margin-top: 5px !important;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px !important;
    font-size: 16px;
    color: #141414 !important;
    font-family: "Roboto Condensed", sans-serif;
  }
  &__container-block {
    min-height: 185px !important;
  }
  &__features-container {
    .feature {
      min-height: 185px;
      text-align: center;
      &__service {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 12px !important;
        color: #141414 !important;
        margin: 0;
      }
      &__name {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 16px !important;
        font-weight: bold;
        margin: 0 !important;
      }
      &__image-container {
        display: flex !important;
        justify-content: center;
        margin-bottom: 10px !important;
        div {
          padding: 0.8rem;
          border-radius: 27%;
          background-color: rgba(255, 255, 255, 0.3);
          display: flex;
          align-items: center;
          img {
            width: 4rem;
            margin-bottom: 0px;
            max-width: fit-content;
          }
        }
      }
    }
  }
}
