@import "../../scss/index.scss";

.pack-container {
  background-color: #f1f2f3;
  padding-top: 1.5rem;
  &__body-pack {
    padding: 0 0px;
  }
  &__title {
    padding: 1.5rem 0.7rem;
    text-align: center !important;
  }
  .pack {
    margin-bottom: 2rem !important;
    &__container {
      border: 1px solid #f1f2f3;
      background-color: white;
      border-radius: 8px;
    }
    &__icon {
      width: 1.4rem !important;
      margin-bottom: 0 !important;
      margin-right: 8px !important;
    }
    &__price {
      font-size: 16px;
    }
    &__header {
      text-align: center;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4070be;
      border-radius: 8px 8px 0px 0px;
      h6 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
        color: #888888 !important;
        span {
          color: white;
        }
      }
    }
    &__footer {
      height: 69px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e6e6e6;
      p {
        font-size: 1.75rem;
        font-family: "Roboto Condensed";
      }
    }
    &__other {
      padding: 1rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: #fcb701 !important;
      }
    }
    &__body {
      padding: 1.5rem 0.75rem;
      ul {
        list-style: none;
        margin: 0;
        font-family: Roboto Condensed;
        text-decoration: none;
        li {
          i {
            color: green;
          }
        }
      }
    }
  }
}
