@import "../../../src/scss/index.scss";

.header {
  background-color: #27292a;
  height: 75px;
  @include upBreakpoint($breakpoint-up-lg) {
    height: 125px;
  }
  &__container {
    height: 100%;
  }
  &__grid {
    height: 100%;
  }
  &__menu-desktop {
    display: none;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    @include upBreakpoint($breakpoint-up-lg) {
      display: flex;
    }
  }
  &__menu-desktop-container {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-between;
    li {
      margin: 0px 18px;
      font-family: "Roboto Condensed", sans-serif;
      a {
        font-size: 20px;
        color: white;
        &:hover {
          color: #fbb832;
          transition: color 1s;
        }
      }
    }
  }
  &__logo {
    width: 14rem;
    margin-bottom: 0px !important;
    @include upBreakpoint($breakpoint-up-lg) {
      width: 18rem;
      margin-bottom: 0px !important;
    }
  }
  &__row {
    display: flex;
    align-items: center !important;
    padding-bottom: 0px !important;
  }
  &__column {
    display: flex !important;
    align-items: center;
    &--center {
      justify-content: center !important;
    }
  }
  &__title-site {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    color: #4071be;
    span {
      color: #fba734;
      font-weight: 300;
    }
  }
  &__menu-mobile {
    margin-bottom: 0px;
    width: 28px;
    height: 28px;
    @include upBreakpoint($breakpoint-up-lg) {
      display: none !important;
    }
  }
}
