@import "../../../src/scss/index.scss";

.header {
  background-color: #4171be;
  height: 75px;
  @include upBreakpoint($breakpoint-up-lg) {
    height: 125px;
  }
  &__container {
    height: 100%;
  }
  &__grid {
    height: 100%;
  }
  &__logo {
    width: 14rem;
    margin-bottom: 0px !important;
    @include upBreakpoint($breakpoint-up-lg) {
      width: 18rem;
      margin-bottom: 0px !important;
    }
  }
  &__row {
    display: flex;
    align-items: center !important;
    padding-bottom: 0px !important;
  }
  &__column {
    display: flex !important;
    align-items: center;
    &--center {
      justify-content: center !important;
    }
  }
  &__title-site {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    color: #4071be;
    span {
      color: #fba734;
      font-weight: 300;
    }
  }
  &__menu-mobile {
    margin-bottom: 0px;
    width: 28px;
    height: 28px;
  }
}
