@import "../../scss/index.scss";

.seo-message {
  margin-top: 3rem;
  padding: 78px 0 90px !important;
  &__container-title {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 22px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0px !important;
    @include upBreakpoint($breakpoint-up-lg) {
      font-size: 30px;
    }
  }
  &__subtitle {
    margin-top: 1rem !important;
    font-weight: normal;
    font-size: 16px;
    color: #141414 !important;
    font-family: "Roboto Condensed", sans-serif;
    @include upBreakpoint($breakpoint-up-lg) {
      text-align: center;
      font-size: 20px;
    }
  }
  &__container-quote {
    @include upBreakpoint($breakpoint-up-lg) {
      width: 75%;
    }
  }
  &__container-row {
    @include upBreakpoint($breakpoint-up-lg) {
      display: flex;
      justify-content: center;
    }
  }
  &__message {
    margin-top: 1.5rem;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: #4071be;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
    }
    .quote {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      color: #ffffff;
    }
  }
}
