@import "../../scss/index.scss";

.footer {
  padding: 40px 0px;
  background-color: #002e25;
  &__container {
  }
  &__grid {
  }
  &__category {
    h6 {
      margin: 0 !important;
      font-size: 22px;
      color: #ffffff;
    }
    p {
      font-size: 16px;
      font-family: "Roboto Condensed";
      color: #b6babf;
      font-weight: lighter;
      margin: 0 !important;
    }
  }
  &__logo-svg {
    margin-bottom: 0;
    width: 12rem;
    height: 2rem;
  }
  &__social-gallery {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    img {
      margin: 0;
      width: 35px;
      height: 25px;
    }
  }
  &__logo {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    h5 {
      margin: 0;
    }
    h6 {
      margin-bottom: 0px;
      margin-top: 10px;
      font-size: 22px;
      color: white;
    }
  }
  &__payments {
    margin-bottom: 0px;
    width: 2rem;
  }
  &__payments-container {
    display: flex;
    margin-top: 8px;
  }
}
.payment-mgr-1 {
  margin-right: 8px !important;
}
