$primary: #ffe600;

$secondary: #0090ff;
$secondary-active: #f6fcff;

$font-light: #fff;
$font-grey: #808080;
$font-dark: #000000;
$font-shadow-black: rgba(255, 255, 255, 0.6);

$boder-grey: #dbdde0;

$background-light: #fff;
$background-grey: #f1f2f3;

$success: #67b02c;

$font-grey-post: #828282;
$font-description-post: #333333;
$font-arrow-faqs: #666666;
$font-arrow-faqs-shadow: rgba(0, 0, 0, 0.6);
$font-grey-light: #dee2e6;
$title-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
$timeline-color: #fdc401;
$multiply-sales-bg: #353b40;
