@import "../../scss/index.scss";

.banner {
  background-color: #004dab;
  padding-top: 35px;
  padding-bottom: 50px;
  position: relative !important;
  @include upBreakpoint($breakpoint-up-lg) {
    height: 430px;
    display: flex;
    align-items: center;
  }
  &__primary-title {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    margin-bottom: 5px;
    @include upBreakpoint($breakpoint-up-lg) {
      text-align: left;
      font-size: 48px;
    }
  }
  &__secondary-title {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 22px !important;
    font-weight: normal;
    color: #ffffff !important;
    margin: 0px;
    text-align: center;
    margin-bottom: 25px;
    @include upBreakpoint($breakpoint-up-lg) {
      text-align: left;
      font-size: 24px;
    }
  }
  &__secondary{
    border: 2px solid #008060 !important;
    color: #008060 !important;
    background-color: transparent !important;
  }
  &__container-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    @include upBreakpoint($breakpoint-up-lg) {
      justify-content: flex-start;
    }
    &--button-primary {
      background-color: #008060!important;
      align-items: center;
      border-radius: 4px !important;
      color: #ffffff !important;
      padding: 8px 30px !important;
      min-width: 100px !important;
      display: flex !important;
      justify-content: center !important;
      align-content: center !important;
      align-items: center !important;
      @include upBreakpoint($breakpoint-up-lg) {
        padding: 10px 32px !important;
        min-width: 202px !important;
      }
    }
    
    &--button-secondary {
      background-color: transparent !important;
      border-radius: 4px !important;
      border: 2px solid #008060 !important;
      color: #008060 !important;
      padding: 8px 30px !important;
      min-width: 100px !important;
    }
  }
  &__image-container {
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    img {
      margin-bottom: 0px !important;
    }
  }
  &__optional-image {
    display: none !important;
    position: absolute !important;
    left: 25% !important;
    bottom: -105px !important;
    @include upBreakpoint($breakpoint-up-md) {
      left: 33% !important;
    }
    @include upBreakpoint($breakpoint-up-lg) {
      width: 19rem;
      position: absolute !important;
      right: 0px;
      bottom: 67px !important;
    }
  }
}
